.footer__column-link {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: .5s;
}

.footer__column-link:hover {
  color: turquoise;
  opacity: 0.8;
}
